table {
  width: 100%;
}

.clickable {
  cursor:pointer;
}

.event-file {
  display: flex;
  align-items: center;
}

.bottom-toolbar {
  margin: 10px 0;
}

.bottom-toolbar > * {
  margin-left: 8px;
}

.spinner-container {
  display: flex;
  align-items: center;
}

.subject-filter {
  width: 300px;
}
